.incorrectText {
    border-bottom: 2px solid red;
    background-color: rgba(255, 0, 0, 0.2);
    padding: 0 4px;
    cursor: pointer;
}

.correctText {
    border-bottom: 2px solid rgb(13, 255, 0);
    background-color: rgba(0, 255, 94, 0.2);
    padding: 0 4px;
    cursor: pointer;
}

.best-option {
    border-bottom: 2px solid rgb(0, 255, 98);
    background-color: rgba(0, 255, 98, 0.2);
}

.possible-option {
    border-bottom: 2px solid rgb(255, 238, 0);
    background-color: rgba(255, 238, 0, 0.2);
}